.first-letter::first-letter{
    color: coral;
}

li::marker{
    color: red;
    font-size: 23px;
}

h2::after{
    content: "";
    background: url(./bg-mobile.jpg) center center 
    no-repeat;
    display: inline-block;
    width: 80px;
    height: 80px;
}

h2::before{
    content: "";
    background: url(./bg-mobile.jpg) center center 
    no-repeat;
    display: inline-block;
    width: 80px;
    height: 80px;
}